# general
NODE_ENV=development
AUTH_TOKEN=axcvbxcvbxcvbxcvbxcvbxcvbxcvbxcvbxcvbxcvb

# server
SERVER_ENDPOINT=http://localhost:3000
SERVER_THROTLLER_TTL=60
SERVER_THROTLLER_LIMIT=10

# admin
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin
ADMIN_JWT_SECRET_KEY=dafgsdfgsdfgasdfasdf
ADMIN_JWT_EXPIRES_IN_MINUTES=120

# db
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=mysecretpassword
DATABASE_DATABASE=dels

#logger
## types "console"/"winston"
LOGGER_TYPE=console

# winston config
LOGGER_WINSTON_LEVEL=info
LOGGER_WINSTON_TRANSPORTS_CONSOLE=true
LOGGER_WINSTON_TRANSPORTS_FILE=logs/app.log

# cache
## types "memory"/"redis"
CACHE_TYPE=redis
CACHE_TTL=300
## redis config
REDIS_HOST=redis-server
REDIS_PORT=6379
REDIS_PREFIX=cache
